{% extends "base.html" %}

{% block titulo %}Add a new Travel{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Add a Trip</h1>
            </div>
        </div>
        <form action="add" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">         
                    <label for="destination" class="form-label">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination" value="{{destination}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-8">         
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" required>
                </div>
            </div>
        
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">         
                            <label for="description" class="form-label">Travel date from </label>
                            <input type="date" class="form-control" id="date_init" name="date_init" required value="{{today}}">
                        </div>
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">         
                            <label for="description" class="form-label">Travel date to</label>
                            <input type="date" class="form-control" id="date_end" name="date_end" required value="{{today}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-outline-primary btn-sm"> Add a new trip</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block libreria %}
{% endblock %}